<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap5 mp com rescap">

  <Identity
    Name="wherewhere.SharpADB"
    Publisher="CN=where"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="719f14b2-1d1c-4bb1-9d8d-e9e5da5269fd" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>SharpADB</DisplayName>
    <PublisherDisplayName>wherewhere</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="SharpADB.App">
      <uap:VisualElements
        DisplayName="ms-resource:AppName"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="ms-resource:AppDescription"
        BackgroundColor="transparent">
        <uap:DefaultTile
          Wide310x150Logo="Assets\Wide310x150Logo.png"
          Square71x71Logo="Assets\SmallTile.png"
          Square310x310Logo="Assets\LargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" uap5:Optional="true" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/>
          <uap:Rotation Preference="portrait"/>
          <uap:Rotation Preference="portraitFlipped"/>
          <uap:Rotation Preference="landscapeFlipped"/>
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer
              Executable="SharpADB.exe"
              Arguments="-RegisterProcessAsComServer"
              DisplayName="SharpADB Server"
              LaunchAndActivationPermission="O:SYG:SYD:(A;;11;;;WD)(A;;11;;;RC)(A;;11;;;AC)(A;;11;;;AN)S:P(ML;;NX;;;S-1-16-0)">
              <com:Class Id ="88B86807-0897-4061-AC3A-6F91F9ED4896" DisplayName="SharpADB Server" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Extensions>
    <Extension Category="windows.activatableClass.outOfProcessServer">
      <OutOfProcessServer ServerName="wherewhere.SelfCOMServer.Server">
        <Path>SharpADB.exe</Path>
        <Arguments>-RegisterProcessAsWinRTServer</Arguments>
        <Instancing>singleInstance</Instancing>
        <ActivatableClass ActivatableClassId="SharpADB.Server" />
      </OutOfProcessServer>
    </Extension>
  </Extensions>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="broadFileSystemAccess" />
    <rescap:Capability Name="confirmAppClose" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>